<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
      <id>dev</id>
      <activation>
        <activeByDefault>true</activeByDefault>
        <jdk>1.8</jdk>
        <property>
          <name>mavenVersion</name>
          <value>2.0.3</value>
        </property>
      </activation>
    </profile>
        <profile>
      <id>staging</id>
      <activation>
        <activeByDefault>false</activeByDefault>
        <jdk>1.8</jdk>
        <property>
          <name>mavenVersion</name>
          <value>2.0.3</value>
        </property>
      </activation>
    </profile>
        <profile>
      <id>prod</id>
      <activation>
        <activeByDefault>false</activeByDefault>
        <jdk>1.8</jdk>
        <property>
          <name>mavenVersion</name>
          <value>2.0.3</value>
        </property>
      </activation>
    </profile>
  </profiles>
</settings>