<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>
	</appender>
	<appender name="minuteRollingFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			 <prudent>true</prudent>
			<FileNamePattern>cdb.%d{yyyy-MM-dd_HH-mm}.log
			</FileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<Pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n
			</Pattern>
		</encoder>
	</appender>
	<logger name="com.excilys.cdb" level="TRACE" />

	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>